<form class="container px-4">
  <div class="row results">
    <div class="col">
      Delta
    </div>
    <div class="col">
      8:00am - 9:45pm
    </div>
    <div class="col">
      Price
    </div>
    <a href="../../controllers/api/flight/{{id}}" class="col-2 book-flight">
      Book flight
    </a>
  </div>
 </form>