<header class="header-login">
    <div class="circular--portrait logo" ><img class="login-plane" src="img/airplane.png" alt="airplane"></div>
    <h1>Golden Flights</h1>
</header>
<div class="bg-image">
  <img src="img/light-plane.png" class="w-100" />
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
 </div>
</div>
<form class="login">
<input type="email" name="" placeholder="Email" id="email-login"><br>
<input type="password" name="" placeholder="Password" id="password-login"><br>
<input type="submit" name="" value="Log In">
<p>Don't have an account? <br> <a href="#" class="sign-up-link">sign up</a></p>
</form>

<form class="sign-up">
<input type="email" name="" placeholder="Email" id="email-signup"><br>
<input type="password" name="" placeholder="Password" id="password-signup"><br>
<input type="submit" name="" value="Sign Up">
<p>Already a member? <br> <a href="#" class="login-link">Log in</a></p>
</form>

<script src="./js/login.js"></script>