<header class="header-results">
  <div class="circular--portrait"><img
      src="img/airplane.png"
      alt="airplane"
    /></div>
  <h1>Golden Flights</h1>
  <button class="no-button" id="logout">logout</button>
</header>

<h1 class="flight-cities">Detroit to Chicago</h1>

{{#each flights as |flight|}}
{{> flight-details}}
{{/each}}


<script src="./js/results.js"></script>