<header class="header-results">
  <div class="circular--portrait"><img
      src="img/airplane.png"
      alt="airplane"
    /></div>
  <h1>Golden Flights</h1>
  <button class="no-button" id="logout">logout</button>
</header>

<h1 class="flight-cities">Detroit to Chicago</h1>

<div>
<form class="container px-4">
  <div class="row results">
    <div class="col">
      Delta
    </div>
    <div class="col">
      8:00am - 9:45pm
    </div>
    <div class="col">
      Price
    </div>
    <p class="col-2 book-flight">
      Book flight
    </p>
  </div>
  <div class="container customer-info">
    <div class="row">
      <div class="col">
        <p>first Name:</p><input type="text" name="" placeholder="First Name" />
      </div>
      <div class="col">
        <p>Last Name:</p><input type="text" name="" placeholder="Last Name" />
      </div>
      <div class="col">
        <p>Phone Number:</p><input
          type="text"
          name=""
          placeholder="Phone number"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Address 1:</p><input type="text" name="" placeholder="Address 1" />
      </div>
      <div class="col">
        <p>Address 2:</p><input type="text" name="" placeholder="Address 2" />
      </div>
      <div class="col">
        <p>City:</p><input type="text" name="" placeholder="City" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>State:</p><input type="text" name="" placeholder="State" />
      </div>
      <div class="col">
        <p>Postal Code:</p><input
          type="text"
          name=""
          placeholder="Postal Code"
        />
      </div>
      <div class="col">
        <p>Country:</p><input type="text" name="" placeholder="Country" />
      </div>
      <div class="row">
      <div class="col d-flex justify-content-center">
        <input class="purchase-ticket" type="submit" name="" value="Purchase Ticket" />
      </div>
    </div>
  </div>
</form>
</div>

<div>
<form class="container px-4">
  <div class="row results">
    <div class="col">
      Delta
    </div>
    <div class="col">
      8:00am - 9:45pm
    </div>
    <div class="col">
      Price
    </div>
    <p class="col-2 book-flight">
      Book flight
    </p>
  </div>
  <div class="container customer-info">
    <div class="row">
      <div class="col">
        <p>first Name:</p><input type="text" name="" placeholder="First Name" />
      </div>
      <div class="col">
        <p>Last Name:</p><input type="text" name="" placeholder="Last Name" />
      </div>
      <div class="col">
        <p>Phone Number:</p><input
          type="text"
          name=""
          placeholder="Phone number"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Address 1:</p><input type="text" name="" placeholder="Address 1" />
      </div>
      <div class="col">
        <p>Address 2:</p><input type="text" name="" placeholder="Address 2" />
      </div>
      <div class="col">
        <p>City:</p><input type="text" name="" placeholder="City" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>State:</p><input type="text" name="" placeholder="State" />
      </div>
      <div class="col">
        <p>Postal Code:</p><input
          type="text"
          name=""
          placeholder="Postal Code"
        />
      </div>
      <div class="col">
        <p>Country:</p><input type="text" name="" placeholder="Country" />
      </div>
      <div class="row">
      <div class="col d-flex justify-content-center">
        <input class="purchase-ticket" type="submit" name="" value="Purchase Ticket" />
      </div>
    </div>
  </div>
</form>
</div>



<script src="./js/results.js"></script>