<header>
  <div class="circular--portrait"><img
      src="img/airplane.png"
      alt="airplane"
    /></div>
  <h1>Golden Flights</h1>
  <button class="no-button" id="logout">logout</button>
</header>
 <div class="container d-flex justify-content-center">
   <h2><strong>{{firstName}}</strong>'s tickets</h2>
   </div>