<header>
  <div class="circular--portrait"><img
      src="img/airplane.png"
      alt="airplane"
    /></div>
  <h1>Golden Flights</h1>
  <button class="no-button" id="logout">logout</button>
</header>
 <div class="container d-flex justify-content-center">
   <h2><strong>Put in information for your flight</h2>
   </div>

<div class="container px-4">
  <div class="row results">
    <div class="col">
      {{airliner}}
    </div>
    <div class="col">
      {{takeOffTime}} - {{arrivingTime}}
    </div>
    <div class="col">
      {{price}}
    </div>
  </div>
 </div>

roundtrip
order_date
baggage

