@import '~mdb-ui-kit/css/mdb.min.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}


.darkmode--activated header {
  background-color: rgb(60, 124, 236);
}

header {
  background-color: rgba(243, 215, 115, 255);
  padding: 5px;
  display: flex;
}

.circular--portrait {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  animation-name: fly;
  animation-duration: 5s;
}

@keyframes fly{
    0% {
    transform: translate(1750px) rotate(-90deg);
    }

    75% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(-90deg);
        transform: translate(0px);
    }
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

header h1 {
  font-weight: 800;
  font-style: italic;
  display: inline-block;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  padding-left: 5px;
  padding-top: 3px;
  align-self: center;
}

.bg-image, .w-100, .mask {
    position: relative;
    z-index: -1;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100;
    padding: 20px;
}

.login h1 {
    color: white;
}

::placeholder {
    color: white;
}

.login input[type = "text"], .login input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    color: white;
    border-bottom: 2px solid black;
    width: 200px;
    outline: none;
}

.login input[type = "submit"] {
    background: black;
    color: white;
    border: 2px solid black;
    width: 125px;
    border-radius: 10px;
    margin-top: 10px;
}