@import '~mdb-ui-kit/css/mdb.min.css';

:root {
  --light-gold: rgba(243, 215, 115, 255);
  --dark-gold: rgba(176,123,16,255);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}

header {
  background: linear-gradient(var(--dark-gold), var(--light-gold), var(--dark-gold));
  padding: 5px;
  display: flex;
}

.header-results {
  margin-bottom: 25px;
}

.logo{
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  animation-name: fly;
  animation-duration: 5s;
}

.circular--portrait{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    padding-left: 5px;
  }

@keyframes fly{
    0% {
    transform: translate(1750px) rotate(-90deg);
    }

    75% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(-90deg);
        transform: translate(0px);
    }
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

header h1 {
  font-weight: 800;
  font-style: italic;
  display: inline-block;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  padding-left: 10px;
  padding-top: 3px;
  align-self: center;
  letter-spacing: .5rem;
}

.bg-image, .w-100, .mask {
    position: relative;
    height: 87vh;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}

.login h1 {
    color: white;
}

::placeholder {
    color: white;
}

.login input[type = "text"], .login input[type = "password"], .sign-up input[type = "text"], .sign-up input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    color: white;
    border-bottom: 2px solid black;
    width: 200px;
    outline: none;
}

.login input[type = "submit"], .sign-up input[type = "submit"] {
    background: black;
    color: white;
    border: 1px solid black;
    width: 125px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-up input[type = "submit"] {
    margin-left: 35px;
    margin-bottom: 10px;
}

.login p, .sign-up p {
    color: grey;
}

.sign-up p {
    margin-bottom: 25px;
}

.login, .sign-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.no-button {
  position: absolute;
  right: 50px;
  top: 42px;
  background: none;
  border: none;
}

.customer-info {
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 25px;
  
}

.container h2, h4 {
  margin-bottom: 25px;
  color: var(--dark-gold);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-top: 15px;
}

.flight-results {
  color: var(--light-gold);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  background-color: black;
}

.search-form {
  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -10%);
    padding: 20px;
}

.flight-cities {
  text-align: center;
  margin-bottom: 25px;
}

.book-flight, .cancel-flight {
  background: var(--light-gold);
  color: black;
  text-align: center;
  cursor: pointer;
  border: 2px solid var(--dark-gold);
}

.results {
  margin-bottom: 20px;
}

.row h2 {
  margin-top: 25px;
}

.ticket-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.mytickets {
  border: 2px solid var(--dark-gold);
}

.row {
  padding-bottom: 15px;
  padding-top: 15px;
}

.row1, .row2 {
  border-bottom: 1px dashed var(--dark-gold);
}

